
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: auto;
}

body {
  background: rgb(235, 235, 235);
}
.headerTop {
  color: white;
  font-size: 14px;
}

.headerTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.btnUp {
display: flex;
justify-content: center;
align-items: center;
  float: right;
  background-color: #fd1c23;
  border-radius: 50px;
  opacity: 45%;
  width: 80px;
  height: 80px;
  right: 10px;
  bottom: 60px;
  color: #fff;
}
.ulList {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 10px;
}


.rrss {
  display: flex;
  justify-content: right;
  color: #fff;
  text-decoration: none;
}

#email {
  text-decoration: none;
  box-shadow: none;
}

.popup {

  background: papayawhip;
  height: 630px;
  width: 450px;
  padding: 25px 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 75%;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: none;
  z-index: 999;
  border: 5px solid chocolate;
  backdrop-filter: blur(10px);

}

.popup button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 40px;
  color: chocolate;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: black;
}
.popup h2 {
    font-weight: bold;
    color: #fff
}
#serviciosSection, #nosotrosSection {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

#top-header {
    line-height: 1em;
    background: #000;
}
.animate__animated.animate__flipInY {
    --animate-duration: 2s;
  }
  
.card { 
    border-radius: .7rem; 
}
li {
    margin-left: 25px;
}

/* CONTACT FORM */

.contain {
  background-color: #F3F2F2;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 1em;
}

div.form {
  background-color: #c9c9c9;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}


h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}


ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.btn-form:hover, .submit-btn:hover,
.btn-form:focus , .submit-btn:focus{
  background: rgba(0, 0, 0);
  outline: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
}
.btn-carousel:hover, .btn-carousel:focus {
  background: rgba(255, 255, 255, 0.20);
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}

.cardShadow:hover {
  box-shadow: 3px 3px 15px darkgray;
}
.uList2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  #logoHeader {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 0;
    
    
  }
  .underline {
    font-size: large;
  }
  .cards {
      width: 400px;
      border: 2px solid gray;
  }
  .cards:hover {
    box-shadow: 3px 3px 15px darkgray;
    
  }
  .popup {
      width: 280px;
  }
  #promoPhoto { /*POPUP*/
      border-radius: 10px;
      box-shadow: 3px 3px 15px darkgray;
      
  }
  .headerTopContainer {
    display: none;
  }
.navbar {
  position: static;
}
.email-info {
  font-size: 18px;
}
.text-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  
}
.ocultar {
  display: none;
}
#nombre {
  display: block;
  width: 280px;
}
#reservado {
  display: flex;
  flex-wrap: wrap;
  width: 245px;
}
}


@media only screen and (max-width: 2000px) {
  #logoHeader {
    width: 250px;
    margin-left: 80px;
  }
  .md-margin-r {
    margin-right: 0px;
  }
  .underline {
    font-size: larger;
    padding: 10px;
  }
  .underline:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .cards {
    width: 380px;
}
.cards:hover {
    box-shadow: 3px 3px 15px darkgray;
    
  }
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

 @media (min-width: 600px) {
  .contain {
    padding: 0;
  }
} 

@media only screen and (max-width: 400px) {
  .email-info {
    font-size: 14px;

  }
  .contain {
    background-color: #F3F2F2;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 1em;
  }
  
  div.form {
    background-color: #dedede;
  }
  .contact-wrapper {
    margin: auto 0;
  }
  
  .submit-btn {
    float: left;
  }
  .reset-btn {
    float: right;
  }
  
  .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
  }
  
  .highlight-text {
    color: #ec1c24;
  }
  
  .hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
  
  .highlight-text-grey {
    font-weight: 500;
  }
  
  .email-info {
      margin-top: 20px;
  }
  
  ::-webkit-input-placeholder { /* Chrome */
    font-family: 'Roboto', sans-serif;
  }
  
  .required-input {
    color: black;
  }
  
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  .form-input:focus,
  textarea:focus{
    outline: 1.5px solid #ec1c24;
  }
  
  .form-input,
  textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }
  
  .wrapper > * {
    padding: 1em;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    color: #212d31;
  }
  
  .form {
    background: #fff;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 1;
  }
  
  button,
  .submit-btn,
  .form-input,
  textarea {
    padding: 1em;
  }
  
  button, .submit-btn {
    background: transparent;
    border: 1px solid #ec1c24;
    color: #ec1c24;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  .btn-form:hover, .submit-btn:hover,
  .btn-form:focus , .submit-btn:focus{
    background: rgba(0, 0, 0);
    outline: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
  }
  .btn-carousel:hover, .btn-carousel:focus {
    background: rgba(255, 255, 255, 0.20);
    outline: 0;
    color: #eee;
  }
  .error {
    color: #ec1c24;
  }
  #logoHeader {
    margin: 0 auto;
  }
  .cards {
    width: 330px;
  }
  form {
    display: none;
  }
  #contacto {
    display: none;
  }
  .ocultar {
    display: none;

  }
 
} 

@media only screen and (max-width: 741px) {
  /*Tablet*/
.email-info {
    font-size: 14px;
}
navbar {
  display: flex;
  
  background-color: #fff;
}
.nav-item {
  padding: 0px;
}
/* .tablet {
  width: 60%;
} */
  
  .contain {
    background-color: #F3F2F2;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 1em;
  }
  
  div.form {
    background-color: #dedede;
  }
  .contact-wrapper {
    margin: auto 0;
  }
  
  .submit-btn {
    float: left;
  }
  .reset-btn {
    float: right;
  }
  
  .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
  }
  
  .highlight-text {
    color: #ec1c24;
  }
  
  .hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
  
  .highlight-text-grey {
    font-weight: 500;
  }
  
  .email-info {
      margin-top: 20px;
  }
  
  ::-webkit-input-placeholder { /* Chrome */
    font-family: 'Roboto', sans-serif;
  }
  
  .required-input {
    color: black;
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  .form-input:focus,
  textarea:focus{
    outline: 1.5px solid #ec1c24;
  }
  
  .form-input,
  textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }
  .wrapper > * {
    padding: 1em;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .contacts {
    color: #212d31;
  }
  
  .form {
    background: #fff;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 1;
  }
  
  button,
  .submit-btn,
  .form-input,
  textarea {
    padding: 1em;
  }
  
  button, .submit-btn {
    background: transparent;
    border: 1px solid #ec1c24;
    color: #ec1c24;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  .btn-form:hover, .submit-btn:hover,
  .btn-form:focus , .submit-btn:focus{
    background: rgba(0, 0, 0);
    outline: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
  }
  .btn-carousel:hover, .btn-carousel:focus {
    background: rgba(255, 255, 255, 0.20);
    outline: 0;
    color: #eee;
  }
  .error {
    color: #ec1c24;
  }
  #logoHeader {
    margin: 0 auto;
  }
  .cards {
    width: 330px;
  }
  form {
    display: none;
  }
  #contacto {
    display: none;
  }
  .ocultar {
    display: none;

  }
  .popup {

    background: papayawhip;
    height: 600px;
    width: 450px;
    padding: 25px 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 610px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: none;
    z-index: 999;
    border: 5px solid chocolate;
    backdrop-filter: blur(10px);
  
  }
  
  .popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 40px;
    color: chocolate;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .popup p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: black;
  }
  .popup h2 {
      font-weight: bold;
      color: #fff
  }
  form {
    display: block;
    width: 80%;
  }
header {
  display: none;
}
}